.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 15px; /* Adjust the value to control the roundness */
}

.MuiCard-root {
  max-width: 800px;
  width: 100%;
  padding: 20px;
}
